<div class="toast-out toast-box-btn fade-transition-out">

    <form [formGroup]="form">

        <div class="content">

            <div class="content-in">
                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Bairro Farmácia:</mat-label>

                    <input #inputStoreByStreet matInput autocomplete='off' formControlName="idNeighborhood" type="text"
                        [matAutocomplete]="autoStreet" />

                    <mat-autocomplete #autoStreet="matAutocomplete" [displayWith]="getNameItem"
                        (optionSelected)="selected($event)" [panelWidth]="hasMobileMatches ? 'unset' : '300px'"
                        class="align-autocomplete" [showPanel]="filteredStreets?.length">
                        <mat-option *ngFor="let street of filteredStreets" [value]="street">
                            {{street?.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Nome da Farmácia:</mat-label>
                    <input matInput class="font" autocomplete='off' formControlName="name" type="text" required>
                </mat-form-field>

                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Data Fundação:</mat-label>
                    <input matInput class="font" autocomplete='off' formControlName="foundationDate" type="text"
                        required>
                </mat-form-field>

                <div>
                    <mat-slide-toggle #toggle24hour [checked]="false" formControlName="roundTheClock">
                        <div class="list fade-in" style="padding: 0px 15px 0px;"
                            [ngStyle]="{ 'color': form?.get('roundTheClock')?.value ? '#1976d2' : '#fff' }"
                            [ngClass]="[ form?.get('roundTheClock')?.value ? 'enabled' : 'disabled' ]">
                            Farmácias 24 horas
                        </div>
                    </mat-slide-toggle>
                </div>

            </div>
            <div class="close">
                <button style="outline:none;" tabindex="-1" mat-icon-button (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>


        </div>


        <div class="align-check" [ngClass]="[ form?.valid ? 'enabled' : 'disabled' ]">
            <button tabindex="-1" mat-icon-button (click)="submit()">
                <mat-icon class="align-check">checked</mat-icon>
            </button>
        </div>
    </form>
</div>