.toast-out {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.label-info {
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
}

.content-in {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.font {
    color: white;
}

.align-check {
    text-align: center;
}

.close {
    width: fit-content;
    position: relative;
    color: white;
    top: -15px;
}

::ng-deep .cdk-overlay-pane {
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
}
