.toast-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #22262e;
  border-radius: 5px 5px 0px 0px;
  width: 20vw;
  height: 10vh;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
  background: #22262e;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  width: 100%;
}

.label-info {
  color: white !important;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 24px;
  margin-top: 4px;
  outline: none;
}

.toast-box-btn {
  border-radius: 0px 0px 5px 5px !important;
  text-align: center;
  text-transform: uppercase;
}

.align-check {
  width: 100%;
  position: relative;
  top: -10%;
  color: green;
}

.close-icon {
  color: white;
  position: relative;
  top: -20px;
  left: 3%;
}

.font {
  line-height: 25px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  opacity: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper:nth-child(1) {
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 1024px) {
  ::ng-deep .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: 24px;
    outline: none;
    font-size: 20px;
  }

  .toast-in-align {
    padding-left: 20px;
  }
}
