<div class="fade-transition-out" style="display: flex;">


    <div *ngIf="hasMobileMatches; else web" class="content">

        <div class="flexbox" style="flex-direction: column;" >
            <div class="content-in" *ngFor="let item of data?.drugstore"> 
                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Farmácia:</mat-label>
                    <input matInput readonly class="font" autocomplete='off'
                        [value]="item?.name" maxlength="3" type="text">
                </mat-form-field>

                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Fundação:</mat-label>
                    <input matInput readonly class="font" autocomplete='off'
                        [value]="item?.foundationDate" maxlength="3" type="text">
                </mat-form-field>

                <mat-form-field class="fade-transition-in font" style="width: 100%;">
                    <mat-label class="label-info">Estabelcimento</mat-label>
                    <input matInput readonly class="font" autocomplete='off'
                        [value]="item?.roundTheClock ? '24 horas' : 'Não atende 24 horas'" type="text">
                </mat-form-field>
            </div>

        </div>
      
    </div>


    <ng-template #web class="content" style="flex-direction: column;">

        <div style="display: flex; flex-direction: row;">
            <mat-form-field class="fade-transition-in font" style="width: 100%;">
                <mat-label class="label-info">Farmácia:</mat-label>
                <input matInput readonly class="font" *ngFor="let item of data?.drugstore" autocomplete='off'
                    [value]="item?.name" maxlength="3" type="text">
            </mat-form-field>

            <mat-form-field class="fade-transition-in font" style="width: 100%;">
                <mat-label class="label-info">Fundação:</mat-label>
                <input matInput readonly class="font" *ngFor="let item of data?.drugstore" autocomplete='off'
                    [value]="item?.foundationDate" maxlength="3" type="text">
            </mat-form-field>


            <mat-form-field class="fade-transition-in font" style="width: 100%;">
                <mat-label class="label-info">Estabelcimento</mat-label>
                <input matInput readonly class="font" *ngFor="let item of data?.drugstore" autocomplete='off'
                    [value]="item?.roundTheClock ? '24 horas' : 'Não atende 24 horas'" type="text">
            </mat-form-field>
        </div>
    </ng-template>


    <div class="close-icon">
        <button style="outline:none;" tabindex="-1" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>