/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.enabled {
    opacity: 1;
}

.disabled {
    opacity: 0.2;
}

.align-autocomplete {
    position: relative;
    top: 15px;
}

.list {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 0px 15px 12px;
    color: white;
    display: flex;
    flex-direction: column;
}

.fade-in {
    transition-timing-function: 0.4s;
    transition-timing-function: ease-in;
}

.flexbox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}